/**************************************************************************************************************************
HEADER
***************************************************************************************************************************/

header.masthead {
    height: 80px;
    background-color: $primary;
    /* box-shadow: 1px 1px 3px 0 #000000; */
    border-bottom: 1px solid $primary;
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -moz-transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    position: relative;
    border-bottom: 10px $apg-shade-3 solid; 
    z-index: 1000;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    &.in {
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    ul.components {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        margin: 0 auto;

        > li {
            padding: 0px 0;
            margin: 0;
        }
    }
}

.hide-header {
    header.masthead {
        display: none;
    }

    main {
        padding-top: 0;
    }
}

#company-logo {
    svg {
        height: 36px;
        fill: #fff;
        color: transparent;
    }
    svg.sm {
        display: none;
        width: 36px;
    }
    svg.lg {
        display: block;
        width: 169.4px;
    }
    @include media-breakpoint-down( 'sm' )
    {
        svg.sm {
            display: block;
}
        svg.lg {

    display: none;
}

}

}

#page-title {
    flex: 1;
    h1 {        
        font-size: 1.9rem;
        line-height: 1.1;
        font-weight: bold;
        color: $primary;
        margin: 0;
        padding: 0 1rem 0 1rem;
        /* text-transform: capitalize; */
    }
    @include media-breakpoint-down( 'sm' )
    {
        h1
        {
            font-size: 1.2rem;
    }
}

    }

.show-header-title #page-title h1 {
    /* display: block; */
}

#dropdown-mnu-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px;
    height: 100%;
    // html:not( .show-header-title ) &
    // {
    //     width: 100%;
    // }
}
.user-callout{
    background: $secondary;
    color: #fff;
    position: absolute;
    padding: 15px 15px 0;
    right: 100px;
    &:after{
        content: "";
        width: 20px;
        height: 20px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid $secondary;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
}

    display:none;
}

#topic-page-nav {
    display: none;
    margin-right:1rem;

    button {
        overflow: hidden;
        position: relative;
        background: #FFF;
        color: #fff;
        border: none;
        padding: .2rem .4rem;
        margin: 0 .4rem;
        transition:all 0.3s ease-out;
        &:hover,
        &:focus
        {
            background: $apg-shade-1;
            svg
            {
                stroke:#FFF;
                fill: transparent;
            }
        }

        svg
        {
            height: 2rem;
            stroke:$apg-shade-1;
            fill: transparent;
        }

        @include media-breakpoint-up( 'md' )
        {
            padding: .5rem 0.75rem;
            margin: 0 .5rem;

            svg
            {
                /* height: 1rem; */
            }
    }

    }
}

.show-topic-page-nav #topic-page-nav {
    display: flex;
}

@media (min-width: 992px) {
    #topic-page-nav,
    #dropdown-mnu-main {
        /* margin-right: 2.17rem; */

    }
}